body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #333333;
  text-align: center;
}



#enunciado, form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 10px;
}


input[type="text"],
select,
textarea {
  margin-bottom: 0px;
  padding: 5px;
}


select {
  height: 36px;
}

textarea {
  height: 100px;
}

.date-inputs {
  display: flex;
  gap: 10px;
}
.date-inputs input[type="text"] {
  width: 60px;
}

input[type="submit"],
input[type="reset"] {
  background-color: #4caf50;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #45a049;
}


#cartel {
  color: #9c1616;
  text-align: center;
  display: none;
}

.input-valido{
  /*background-color: rgb(183, 243, 183);*/
  border: 1px solid green;
  border-radius: 5px;
}
.input-novalido{
 /* background-color: rgb(249, 188, 188);*/
  border: 1px solid red;
  border-radius: 5px;
}

div .subtitulo{
  margin-top: 0px;
  font-size: small;
  padding-top: 0px;

}
.campos{
  margin-bottom: 10px;
}